@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
    --font: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto';
    background: linear-gradient(to bottom, rgb(31, 121, 91), aqua);
    height: 96.5vh;
}
.tit::before{
    content: none;
}
main{
    background-color: white;
    margin: 15px auto;
    max-width: 675px;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid black;
}

h2::before{
    content: '\25FE     ';
}

p{
    margin: 8px;
    padding: 10px;
}
li{
    margin: 5px;
}
a{
    text-decoration:1px rgb(31, 121, 91) underline;
    font-weight: 700;
    color: black;
}
a:hover{
    color: aqua;
    background-color: rgba(0, 0, 0, 0.473);
    transition:0.2s;
    padding: 3px;
    border-radius: 6px;
}
