@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
    --font: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto';
    background: linear-gradient(to bottom, rgb(31, 121, 91), aqua);
}

main{
    background-color: white;
    margin: 15px auto;
    max-width: 700px;
    padding: 1rem;
}

h2::before{
    content: '\25FE     ';
}

p{
    margin: 8px;
    padding: 10px;
}
li{
    margin: 5px;
}
a{
    text-decoration:1px rgb(31, 121, 91) underline;
    font-weight: 700;
    color: black;
}
a:hover{
    color: aqua;
    background-color: rgba(0, 0, 0, 0.623);
    transition:0.4s;
    padding: 3.5px;
    border-radius: 5px;
}
